/*:root {
  --primary: #008CBA;;
  
}*/
.button {
  background-color: rgb(82, 147, 29);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.btn--button{
  background-color: rgb(174, 231, 17);
  transition: all 0.3s ease-out;
  color: black;
  border: 2px solid var(--primary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  margin: 4px 2px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
}
.button1 {
  background-color: rgb(231, 140, 13);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-info {
  background-color: rgb(84, 204, 245);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-danger {
  background-color: rgb(250, 84, 84);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
.button--primary {
  background-color: blueviolet;
  color: black;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn {
  padding: 12px 24px;
  border-radius: 2px;
  cursor: pointer;
  color: inherit;
  background-color: rgb(174, 231, 17);
}

.btn--primary {
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
