.social-container {
    
    padding: 1px 1px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: rotate(360deg);
  }

  a.youtube {
    background: #eee;
    border-radius: 7px;
    width: auto;
    padding: 2px;
  color: #eb3223;
  margin-bottom: 7%;
}

a.facebook {
    background: #eee;
    border-radius: 7px;
    width: auto;
    padding: 2px;
  color: #4968ad;
}

a.twitter {
    background: #eee;
    border-radius: 7px;
    width: auto;
    padding: 2px;
  color: #49a1eb;
}

a.instagram {
  
  background: radial-gradient(circle farthest-corner at 45% 90%, #fec564, transparent 50%), 
              radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
              radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
              radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
              radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
              radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
              radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
              linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 7px;
  width: auto;
  padding: 5px;
}