.split-left{
  height: 98%;
  width: 30%;
  border-radius: 10px;
  background: rgb(223, 222, 222);
  text-align: left;
  transform: translate(3%, 1%);
  border-color: black;
}

.split-right{
  height: 97%;
  width: 69%;
  right: 0%;
  border-radius: 10px;
  background: rgb(223, 222, 222);
  text-align: center;
  transform: translate(45%, -100%);
  
}
  .split-center{
    height: 95%;
    width: 45%;
    right: 0%;
    border-radius: 10px;
    background: rgb(205, 200, 200);
    text-align: center;
  }

  .box-calendar{
    width: fit-content;
  height: fit-content;
  background: transparent;
  border-radius: 10px;
  padding: 20px;
  transform: translate(20%, 0%);
  }
  