.split-left{
    height: 95%;
    width: 45%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
    transform: translate(10%, 1%);
  }

.split-right{
    height: 95%;
    width: 45%;
    right: 0%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
    transform: translate(120%, -99%);
    
  }
  .split-center{
    height: 95%;
    width: 45%;
    right: 0%;
    border-radius: 10px;
    background: rgb(205, 200, 200);
    text-align: center;
  }

  .box-calendar{
    width: fit-content;
  height: fit-content;
  background: transparent;
  border-radius: 10px;
  padding: 20px;
  transform: translate(20%, 0%);
  }
  